/**
 * Color palete:
 *  Dark Purple: #2C1E37
 *  Light purple: #7B14CC
 *  Atention Orange: #FF9F00
 *  Weird Green: #19FF74
 *  Neutral gray: #847151
 */

.app-body {
    padding: 2rem;
}

.top-bar {
    padding: 0.5rem 2rem;
    background-color: #2C1E37;
    color: white;
}

a {
    color: #7B14CC;
    text-decoration: none;
}

a:visited {
    color: #847151;
}

a:hover,
a:focus {
    text-decoration: underline
}

ul {
    list-style-type: none;
}
